
/* Define la fuente personalizada */
@font-face {
  font-family: 'Ger';
  src: url('../fonts/Ger.ttf') format('truetype');
}

:root {
  --font-text: 'Ger';
}

/* src/app/globals.css */
@import "~bulma/css/bulma.css";

/* Reset de estilos */
html, body, #__next {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
element.style {
    display: flex;
    flex-direction: column;
    width: 100%;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(43deg, white 0%, rgb(165, 243, 252) 46%, white 100%);
    color: #333;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

#_next {
  display: flex;
  flex-direction: column;
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
}